body {
  background-color: black;
  color: white;
  font-family: SF Pro, Regular;
  text-align: center;
  margin: 0;
}

header {
  padding: 20px;
}

h1 {
  font-size: 2em;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5em;
	color: #ccc;
	margin-bottom: 15px;
}

nav {
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  align-items: center; /* Center items horizontally */
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid white;
  margin: 10px 0; /* Add margin between buttons (adjust as needed) */
}

nav a:hover {
  background-color: #333;
}

.back-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #333;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}

.back-button:hover {
  background-color: #555;
}
