@font-face {
  font-family: 'SF Pro'; /* Name you want to use for the font */
  src: url('../fonts/SF-Pro.ttf') format('ttf'); /* Add other formats as needed */
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  font-family: 'SF Pro', Arial, sans-serif;
  text-align: center;
  margin: 0;
}

header {
  padding: 20px;
}

h1 {
  font-size: 2em;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5em;
	color: #ccc;
	margin-bottom: 15px;
}

nav {
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  align-items: center; /* Center items horizontally */
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid white;
  margin: 10px 0; /* Add margin between buttons (adjust as needed) */
}

nav a:hover {
  background-color: #333;
}

.back-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #333;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}

.back-button:hover {
  background-color: #555;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}

.author {
  color: white;
  margin-left: 10px;
}

.date-time {
  color: white;
  margin-right: 30px;
}

.page-title {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

/* Add styles for the article sections */
.article {
  background-color: #161617; /* Darker background color */
  color: darkgrey;
  padding: 10px 30px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 75%; /* 75% of page width */
  margin: auto; /* Center the article */
  text-align: left; /* Align text to the left */
  margin-bottom: 60px;
}

.article-title {
  font-size: 2em;
  text-align: left; 
  margin-left: 12.5%; 
}

.article p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.article-content .subject {
  /* Add additional styling for the content of the article */
  color: white
}